In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/NathaliaMinoque/datamining/main/Dataset_Terapi_Kelenjar_Getah_Bening.csv')
df.head()

,gender,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
0,1,15,11.00,6.0,1.0,30,25.0,0
1,1,27,11.75,NaN,1.0,208,6.0,0
2,1,32,12.00,9.0,1.0,43,50.0,0
3,1,33,1.75,7.0,2.0,379,7.0,0
4,1,34,5.00,7.0,3.0,64,7.0,0

In [3]:
df.rename(columns={'Time': 'time', 'Number_of_Warts': 'number_of_warts', 'Type': 'type', 'Area': 'area', 'Result_of_Treatment': 'treatment_result'}, inplace=True)
df.head()

,gender,age,time,number_of_warts,type,area,induration_diameter,treatment_result
0,1,15,11.00,6.0,1.0,30,25.0,0
1,1,27,11.75,NaN,1.0,208,6.0,0
2,1,32,12.00,9.0,1.0,43,50.0,0
3,1,33,1.75,7.0,2.0,379,7.0,0
4,1,34,5.00,7.0,3.0,64,7.0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               90 non-null     int64
 1   age                  90 non-null     int64
 2   time                 87 non-null     float64
 3   number_of_warts      89 non-null     float64
 4   type                 85 non-null     float64
 5   area                 90 non-null     int64
 6   induration_diameter  88 non-null     float64
 7   treatment_result     90 non-null     int64
dtypes: float64(4), int64(4)
memory usage: 5.8 KB

In [15]:
df.duplicated().sum()

0

In [14]:
df.isnull().sum()

gender                 0
age                    0
time                   3
number_of_warts        1
type                   5
area                   0
induration_diameter    2
treatment_result       0
dtype: int64